.bg__map__pprojects{
    background-image: url(../image/partners_bg_map.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center 10%;
}
.all_projects{
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 2.4rem;
	margin:5rem auto;
	padding: 0;

}
.container__projects{
    flex: 1 1 calc(32%);
    padding: 1rem;
	margin: 0 0 1rem 0;
	width: 100%;
	box-sizing: border-box;
    align-self:stretch;
   
}


.wrapper__projects{
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999,-1px 1px 2px #999;
    display: flex;
    flex-flow: column;
    height: 100%;
    

}
.wrapper__projects a:first-child{
    display: block;

}
.image__projects{
    flex:1 1 30%;
    box-sizing: border-box;
    width: 100%;
}
.image__projects img{
    width: 100%;
    height: 12.5rem;
    object-fit: cover; 

}
.projects{
    color: #4d4d4d;
flex:2 2 70%;
    display: flex;
    flex-flow: column;
  
}
.projects h4{
  padding:1rem 1rem ;
    flex:1 1 30%;
}
.projects p{
    margin: .5rem 1rem ;
    flex:2 2 40%;
    position: relative;
}
.projects p:before{
    content: "";
    position: absolute;
    width: 250px;
    height: 50px;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient(299deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(299deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(299deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(299deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(151deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* w3c */
}
.btn__projects{
    position: relative;
    border-top: 1px solid #dadada;
    padding: 1.2rem 0 1.2rem 1.2rem ;
    display: block;
    font-weight: 600;
    color: #4d4d4d;
}

.btn__projects:before{
 content: "→";
    
	position: absolute;
	left: 9rem;
    font-size: 20px;
    line-height: 18px;
    font-size: 1.5em
}
.wrapper__projects:hover .btn__projects{
    color:#ff3e45 
}