html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,button{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing: border-box;}
input,
textarea {
outline:none;
}
nav ul{list-style:none}

a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}
p{
    color: #4d4d4d;
}



/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
    margin-top: 45px;
    font-size: 16px;
}


body{
	font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    
 
}
h3,h4{
    
}
.about_company h3,.zag3{
   color: #122b5b;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px; 
}
h2,.menu__link{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    color: #122b5b;
}
.zag2{
    text-align: center;
    width: 70%;
    margin:70px auto 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
}
main{
     position: relative;
}

.container_white{
    overflow: hidden;
    border-bottom-left-radius:1200px 140px;
	border-bottom-right-radius:1200px  140px;
    margin-left: -10%;
    margin-right: -10%;
    background: #fff;
}
.container{
  
    position: relative;
    overflow: hidden;
    border-bottom-left-radius:1200px 140px;
	border-bottom-right-radius:1200px  140px;
    margin-left: -10%;
    margin-right: -10%; 

}
.col{
    flex: 1 1 calc(50%);
}
.wrapper{
	width: 50%;
	margin:0 auto ;
	display: flex;
	flex-flow:wrap;
	
}

#particles-js{
width: 100%;
height: 100%;
position: absolute;
z-index: -10;
/*background-image: url(../image/img_about/bcg1.jpg);*/
/*background-size: 86%;*/
/*background-position: center bottom;*/
/*background-repeat: no-repeat;*/
}
#particles-js2{
width: 100%;
height: 100%;
position: absolute;
/*top:0;*/
z-index: -10;

}
#particles-js3{
width: 100%;
height: 100%;
position: absolute;
/*top:0;*/
z-index: -10;
/*
    background-image: url(../image/img_about/bg_red.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
*/
}

/* =============================================================================*/
.particles_bg_blue{
background-image: url(../image/bg_blue.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;    
}
.particles_bg_about{
 background-image: url(../image/bg_about.jpg);
background-size: 86%;
background-position: center bottom;
background-repeat: no-repeat;   
}
.projects_bg_projects{
 background-image: url(../image/bg_projects.jpg);
background-size: 86%;
background-position: center bottom;
background-repeat: no-repeat;   
}
.particles_bg_hr_certificates{
background-image: url(../image/img_certificates/bg_hr_certificates.jpg);
background-size: 86%;
background-position: center bottom;
background-repeat: no-repeat;
}
.particles-js__all_new{
background-image: url(../image/bg_news.jpg);
background-size: 86%;
background-position: center bottom;
background-repeat: no-repeat;    
}
.particles_bg__red{
   background-image: url(../image/bg_red.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat; 
}
/* =============================================================================*/
.bg__bcg1{
    height: 20vw;
}
.bg__bcg1:after{
    content: "";
    position: absolute;
    z-index: -10;
    top: -65%;
    right: -90%;
    width: 140%;
    height: 140%;
    background-image: url(../image/circle.svg) ;
    background-repeat: no-repeat;
    
}
.bg__bcg1:before{
    content: "";
    position: absolute;
    top: -5%;
    left: -1%;
    width: 100%;
    height: 100%;
    background-image: url(../image/circle.svg) ;
    background-repeat: no-repeat;
    
}

.bg__blue{
    margin-top: -100px;

}
.bg__blue:after{
    content: "";
    position: absolute;
    z-index: -10;

    top: 0;
    right:-7%;
    width: 35%;
    height:100%;
/*    background-image: url(../image/circle.svg) ;*/
    background-repeat: no-repeat;
    background-size: 100%;
   
    
}
.bg__red{
    margin-top: -100px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.bg__bcg1 > .wrapper{
    height: 100%;
}
.titel__page{
/*    padding: 200px;*/
    color: #fff;
    font-size: 3rem;
    margin: auto auto;
    background: #ff3e45;
    text-transform: uppercase;
    padding: 1rem 2.2rem;
}
/*=========================================================*/
/*                           forms                         */
/*=========================================================*/
.container_forms{
/*    margin-top: -100px;*/
position: relative;
height: 460px;
    margin: auto;
    width: 100%;
/*    display: flex;*/
/*    align-items: flex-end;*/
}
.zag_form{
    color: #fff;
    width: 600px;
    font-size: 2em; 
    text-align: left;
}
.container_forms p{
    color: #fff;
    margin: 30px 0
}
.container_forms .wrapper{
    
    flex-flow: column;
/*    margin: auto;*/
    width: 60%;
    height: 80%;
    justify-content: center;
    background-image: url(../image/img_about/vignette.png);
    background-repeat: no-repeat;
    background-size: 469px;
    background-position: 100% 5%;

   
}
.form_wrapper{
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.entry_input{
    padding-left: 15px;
    box-sizing: border-box;
    height: 50px;
    width: 270px;
    margin-bottom: 20px;
    box-shadow :0px 0px 18px #515151; 
    outline:none;
    border: none;
}
.submit_btn{
     color: #fff;
    background: #ff3e45;
    border-radius: 50px;
    margin-right: 0;
     text-align: center;
    padding:0;
}



/*=========================================================*/
/*                        forms end                        */
/*=========================================================*/

footer{
   background:  #080a0c;
}
.footer .wrapper {
    justify-content: space-between;
    width: 60%;
    padding: 20px 0;
}
.footer > ul > li{
    min-width: 200px;
}
.footer > ul > li > a{
    color: #4d4d4d;
}








@media (max-width: 1440px) {
	
  .wrapper{
    width: 60%;
  }
    .zag_form{
    font-size: 1em;
        width: 100%;
    }
}
@media (max-width: 1280px) {
	
   .wrapper{
    width: 70%;
   }
    .footer .wrapper {
    justify-content: flex-start;
   }
    .service > .col{
        min-width: 500px;
    }
/*
    .bg__blue:after{
    content: "";
    position: absolute;
    z-index: -10;

    top: 0;
    right:-7%;
    width: 60%;
    height:100%;
    background-image: url(../image/circle.svg) ;
    background-repeat: no-repeat;
    background-size: 100%;
*/
   
    
}
}
@media (max-width: 1024px){
    .wrapper{
/*        justify-content: center;*/
    }
    .col{
        flex:0 0;
        min-width: 400px;
    }
    .icons_principles{
        min-width: 350px;
    }
         .zag_form{
        font-size: 1em;
/*      width: 90%;*/
       
    }
    .container_forms p{
    margin: 15px 0;
}
        .footer> ul > li{
        display: flex;
       min-width: 400px; 
        margin-bottom: 20px;
    }
    .footer > ul > li:nth-child(1){order: }
    .footer > ul > li:nth-child(2){order: 4}
    .footer > ul > li:nth-child(3){order: 3}
    .footer > ul > li:nth-child(4){order: 2}

}
    
    
    
@media (max-width: 980px){
    .titel__page{
        display: none;
    }
    .wrapper{
        width: 90%;
        justify-content: center;
    }
    .col{
        flex:0 0;
        min-width: 80%;
    }
      .service > .col{
        min-width:80%;
    }
    .icons_principles{
        min-width: 440px;
    }
        .container_forms .wrapper{
        height: 80%;
        width: 80%;
        justify-content: center;
    }
    .form_wrapper{
        justify-content: space-around;
    }
    .entry_input{
        margin-bottom: 15px;
        height: 30px;
          
    }
    
        .footer> ul > li{
        min-width: 300px; 
    }
} 
    
    
    
@media (max-width: 440px){
        body{
        font-size: 0.8em;
    }
    p{
/*        width: 50%;*/
        
    }
    .wrapper{
        width:90%;
/*       justify-content: center;*/
    }
    .col{
        justify-content: center;
       
        flex:0 0;
        min-width: 280px;
    }
     .service > .col{
        min-width: 300px;
    }
    .Our_services .wrapper .col:last-child{
    padding-left: 0px;
}
   .Our_services .wrapper .col:first-child{
    padding-right: 0px;
}
     .icons_principles{
        min-width: 300px;
    }
    .entry_input{
/*    width: 100%;*/
    }
    .footer > ul > li > a{
    color: #4d4d4d;
    font-size: 12px;
}
     .footer> ul > li{
        width:100px;
        margin-bottom: 10px;
    }
    .footer > ul > li:nth-child(1){order: 4}
    .footer > ul > li:nth-child(2){order: 3}
    .footer > ul > li:nth-child(3){order: 2}
    .footer > ul > li:nth-child(4){order: 1}
}  

/* =============================================================================
                                        MENU
   ========================================================================== */
header{
/*	align-items: center;*/
/*	justify-content: space-between;*/
    
    
}
.wrapper__menu{
    display: flex;
    margin: auto;
    width: 70%;
   align-items: center;
	justify-content: space-between; 
}
nav{
width: 80%;
}
.sf-menu{
	display: flex;
/*	width: 80%;*/
	justify-content: space-between;
/*	padding:  44px 0;*/
}
.sf-menu > li{
/*margin-left: 15px;*/
    text-align: center;
    flex: 1;
    align-self: stretch;
    display: flex;
}
.sf-menu > li > a {
    flex: 1;
    align-self: stretch;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight:400;
	padding:  2.2rem 0px;
	
}
.sf-menu > li > a:hover{
	color:#ff3e45;
}
.active{
	color:#ff3e45;;
	border-bottom: 2px solid #ff3e45;
}


@media (max-width: 1280px) {
    
	
  .wrapper__menu{
  width: 90%;
  }
    .sf-menu > li > a{
        font-size: 0.7em;
    }
}
@media (max-width: 867px) {
	
  .sf-menu{
    display: none;
  }
    .logo{
        
        
} 
    .logo_img{
       margin: 5% 35%; 

    }
}
/*==================  Stuck menu  ======================*/
.stuck_container {
width: 100%;
    top: 0;
    left: 0;
	 -webkit-transition: 0.5s ease;
    transition: 0.5s ease;

  z-index: 9999;
  border-bottom: 1px solid #888;
     background: #fff;
    position: fixed;
}

@media only screen and (max-width: 980px) {
	
  .stuck_container  {
    display: none !important;
  }
}


/*============      rd-navbar-dropdown     ============*/
.sf-menu  ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 13rem;
  background: #fff;
  z-index: 2;
  box-sizing: border-box;
}
.menu__item:nth-child(2):hover .rd-navbar-dropdown{
    display: block;
}
.sf-menu ul > li {
  position: relative;
    display: flex;
    justify-content: flex-start;

}
.sf-menu ul > li > a {
  font-size: 1rem;
  padding: 1rem 0 1rem 1rem;
    width: 100%;
  color: #122b5b;
  background: #fff;
    text-align: left;
}
.sf-menu ul > li + li {
/*  border-top: 1px solid #d4d4d4;*/
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #ff3e45;
border-bottom: 1px solid #ff3e45;
    
}

.sf-menu ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 235px;
  margin-top: 0;
  margin-left: 10px;
  padding: 0;
  z-index: 4;
}

.sf-menu > li > ul > li > .sf-with-ul {
  position: relative;
}
.sf-menu > li > ul > li > .sf-with-ul:before {
  position: absolute;
  right: 19px;
  top: 0;
  margin-left: -6px;
  content: "ï„…";
  font: 400 16px/50px "FontAwesome";
/*  color: #62bfe6;*/
}

@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.rd-mobilemenu.active {
  right: 0;
}

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 120px 0 30px;
/*  color: #999;*/
  background: #fff;
  font-size: 0.5em;
/*  line-height: 20px;*/
  overflow: auto;
    
/*
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
*/
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 10px 25% ;
    text-align: left;
}
.rd-mobilemenu_ul a.active {
border-bottom: 1px solid #ff3e45;
  color:#ff3e45;
}
.rd-mobilemenu_ul a:hover {
border-bottom: 1px solid #ff3e45;
  color:#ff3e45;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px "FontAwesome";
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #FFF;
  color: #666;
}

.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
/*  padding-left: 40px;*/
    font-size: 1rem;
    color: #122b5b;
}
.rd-mobilemenu_ul ul ul a {
/*  padding-left: 60px;*/
}
.rd-mobilemenu_ul:after {
/*  content: '';*/
/*  display: block;*/
/*  height: 20px;*/
}

.rd-mobilepanel {
  display: none;
  position: fixed;

 
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #fff;
/*  color: #122b5b;*/
/*  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);*/
/*  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);*/
/*  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);*/
  z-index: 99999991;
}

.rd-mobilepanel_title {
  position: fixed;
  right: 0px;
  color: #fff;
  background: #ff3e45;
  padding: 17px 20px;
  font-size: 16px;
/*  line-height: 54px;*/
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rd-mobilepanel_toggle {
  position: fixed;
/*  top: 4px;*/
  left: 8px;
  width: 48px;
  height: 48px;
    background: none;
    border: none;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 2px;
  background-color: #515151;
  backface-visibility: hidden;
/*  -webkit-border-radius: 2px;*/
/*  -moz-border-radius: 2px;*/
/*  border-radius: 2px;*/
}
.rd-mobilepanel_toggle span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

@media (max-width:980px) {
  body {
/*    padding-top:50px;*/
      margin-top: 0px;
  }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 320px) {
  .rd-mobilepanel_title {
    font-size: 1em;
    padding: 17px 20px 17px 120px;
  }
}