.our_partners {
   
    column-count: 3;
	column-gap: 2rem;
	margin:8rem auto 4rem;
	padding: 0;

}
.container__partner {
    display: inline-block;
	margin: 0 0 2rem 0;
	width: 100%;
	box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}
.image__partner{
    border-bottom: 1px solid #d4d4d4;
    height: 125px;
}
.image__partner img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
     
}
.inner_partner{padding: 2rem;}
.inner_partner h5{
    color: #122b5b;
    margin-bottom: 2rem;
}

@media (min-width: 320px) {
    .our_partners {
            width: 80%;
        column-count: 1;
    }
	.wrapper{
		margin:0 auto;
	}
	.item{
		padding: 0.3em;
	}
    .our_partners {
    margin: 2rem auto 6rem;
    padding: 0;
}
}

@media (min-width: 700px) {
    .our_partners {
        column-count: 2;
        width: 70%;
}

@media (min-width: 980px) {
    .our_partners {
        width: 70%;
        column-count: 3;
}
@media only screen and (min-width: 1280px) {
  
    .our_partners {
    width: 60%;
    }
} 
    @media only screen and (min-width: 1440px) {
  
    .our_partners {
    width: 50%;
    }
} 

 
